.Layout-header {
	background-color: var(--color-bg);
	padding-bottom: 0.5rem;
	padding-top: max(env(safe-area-inset-top), 1rem);
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* in mobile logged out view, don't show the sign in button in the header*/
.Layout-header button {
	display: none !important;
}

/* in mobile logged in view, don't show the sign in button in the header*/
.Layout-header button:not(.logged-out) {
	display: inline;
}

@media screen and (min-width: 780px) {
	/* in desktop view, show the sign in button in the header*/
	.Layout-header button {
		display: inline !important;
	}

	/* in desktop logged in view, hide the sign in button in the footer*/
	.Layout-main button {
		display: none;
	}
}
