/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */

.Layout-header {
	text-align: center;
	border: 3px solid black;
	padding: 27px 24px 20px 24px;
	background-color: white;
}

@media screen and (min-width: 780px) {
	.Layout-header {
		padding-bottom: 0.5rem;
		padding-top: max(env(safe-area-inset-top), 1rem);
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
