/* General List */

main {
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
}

button:hover {
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	padding-bottom: 2.5em;
	margin-bottom: auto;
}

input {
	width: 100%;
	height: 4em;
	text-align: center;
}

/* Add Item Form */
.addItemForm form {
	display: flex;
	gap: 1em;
	text-align: center;
}

.addItemForm input {
	width: 100%;
	height: 4em;
	text-align: center;
}

.addItemForm span {
	margin-bottom: 1em;
}

.addItemForm .addItemButtonGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.addItemForm .addItemButtonGroup button,
.submitButton {
	width: 45%;
	height: 3em;
}

.submitButton {
	margin-top: 1.5em;
}

/* List Search Items */
.searchLabel {
	font-size: larger;
	font-weight: bold;
}

.listSearchItems {
	width: 100%;
}

.searchInput {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	margin-bottom: 2em;
	margin-top: 2em;
}

/* List Item */
.listItem {
	display: flex;
	width: 100;
}

.listCheckBox,
.listDelete {
	width: 5em;
}

.nameAndUrgency {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 1em;
	width: 100%;
}

.listItemName {
	font-weight: bold;
	font-size: large;
}

.listItemUrgency {
	font-style: italic;
	font-size: small;
}

.listDelete button {
	height: 90%;
	width: 90%;
}

/* ShareForm */
.shareForm form {
	gap: 1em;
	margin: auto;
	margin-bottom: -1em;
}

/* Log Out */
.logOutFooter {
	margin-top: 2em;
	border-bottom: 0;
	margin-bottom: -3em;
}

@media screen and (min-width: 780px) {
	.addItemButtonGroup {
		display: flex;
		width: 300%;
		margin: auto;
	}

	/* .addItemForm .addItemButtonGroup button {
		width: 500em;
	} */
}
