/* General List */

main {
	display: flex;
	flex-direction: column;
	margin: 0;
	text-align: center;
}

button:hover {
	cursor: pointer;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin-bottom: auto;
}

/* Add Item Form */

.addItemSection {
	padding: 0;
}

.addItemForm form {
	display: flex;
	gap: 1em;
	text-align: center;
}

@keyframes slideDown {
	from {
		height: 5em;
	}
	to {
		height: 28em;
	}
}

@keyframes slideUp {
	from {
		height: 28em;
	}
	to {
		height: 5em;
	}
}

.addItemMinimized {
	display: none;
	animation-name: slideUp;
	animation-duration: 0.2;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	padding-top: 1em;
}

.addItemMaximized {
	overflow: hidden;
	animation-name: slideDown;
	animation-duration: 0.2s;
	animation-timing-function: linear;
}

.addItemButton {
	width: 2em;
}

.addItemHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	margin: auto;
}

.addItemForm span {
	margin-bottom: 1em;
}

.addItemButtonGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

/* List Search Items */
.listSearchItems {
	width: 100%;
}

.searchSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* List Item */
.listContainer {
	width: 100%;
	border: black 3px solid;
}

.listItemRow {
	display: flex;
	width: 100%;
}

.listItemRow input {
	height: 2em;
	cursor: pointer;
	width: 2em;
}

input[type='checkbox'] {
	accent-color: #89d2ff;
	width: 60px;
	height: 55px;
	border: 1px solid black;
	box-shadow: 3px 3px 0px 3px rgba(0, 0, 0, 1);
}

.checkboxBackground {
	border: black solid 0.2em;
	background-color: black;
}

.nameAndUrgency {
	display: flex;
	flex-direction: column;
	padding-left: 1.5em;
	text-align: left;
	width: 100%;
	border: black solid 3px;
	border-top: 3px;
}

/* Log Out */
.logOutFooter {
	margin-top: 2em;
	border-bottom: 0;
	margin-bottom: -3em;
}

.nameAndUrgency :nth-child(1) {
	width: 100%;
	font-size: 25px;
	font-weight: 400;
}

.nameAndUrgency :nth-child(2) {
	width: 50%;
	font-size: 15px;
	font-weight: 400;
}

@media screen and (min-width: 780px) {
	/* Add Item */
	.addItemForm {
		min-width: 100%;
	}

	.addItemForm input {
		width: 30%;
		margin-bottom: 1em;
	}

	.addItemButtonGroup {
		margin-top: 3em;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		gap: 0;
		width: 100%;
	}

	.submitButton {
		width: 14em;
	}

	@keyframes slideDown {
		from {
			height: 5em;
		}

		to {
			height: 42em;
		}
	}

	@keyframes slideUp {
		from {
			height: 42em;
		}
		to {
			height: 5em;
		}
	}

	.addItemMinimized {
		overflow: hidden;
		animation-name: slideUp;
		animation-duration: 0.2;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	.addItemMaximized {
		overflow: hidden;
		animation-name: slideDown;
		animation-duration: 0.2s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
	}

	/* Search List */
	.listSearchItems {
		display: flex;
		min-width: 100%;
	}

	.searchSection {
		display: flex;
		flex-direction: row;
		height: max-content;
		justify-content: space-between;
		gap: 0;
		margin: 0;
		width: 100%;
	}

	.searchSection label {
		font-size: 30px;
		font-weight: 500;
		width: 50%;
	}

	.searchSection form {
		height: 100%;
		width: 100%;
	}

	/* Items */

	.listItemRow {
		height: max-content;
	}

	.nameAndUrgency {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.nameAndUrgency > * {
		height: 100%;
		padding: 10px;
	}

	.listItemUrgency {
		border-left: 3px solid black;
	}

	.nameAndUrgency :nth-child(1),
	.nameAndUrgency :nth-child(2) {
		font-size: 30px;
		font-weight: 400;
	}
}
