:root {
	--blue: #89d2ff;
	--blue-light: #ddf2ff;
	--blue-dark: #89b2ff;
	--white: #ffffff;
	--black: #000000;
	--green: #dcff4b;
	--green-light: #f9ffde;
	--green-dark: #8ede21;
	--yellow: #fdfd18;
	--yellow-dark: #dde51c;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

/**
 * Make sure the app fills the height of the screen.
 */
body {
	height: 100dvh;
}

/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
html {
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Syncopate';
	margin: 0px;
}

h2,
h3,
h4,
h5,
h6,
input,
select,
option,
label,
small {
	font-family: 'Work Sans';
	margin: 0px;
}

h2 {
	font-size: 30px;
	font-weight: 500;
}

h3,
select,
option {
	font-size: 30px;
	font-weight: 400;
}

h4,
input,
label {
	font-size: 25px;
	font-weight: 400;
}

h5,
label[for='email'],
label[for='itemName'],
label[for='searchInput'] {
	font-size: 20px;
	font-weight: 500;
}

h6 {
	font-size: 40px;
	font-weight: 400;
}

small {
	font-size: 30px;
	font-weight: 400;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
}
button {
	width: 100px;
}

input:focus {
	outline: var(--black);
}

@media screen and (min-width: 780px) {
	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 60px;
	}

	h3,
	select,
	option {
		font-size: 60px;
	}

	h4,
	input,
	label {
		font-size: 50px;
	}

	h5,
	label[for='email'],
	label[for='itemName'],
	label[for='searchInput'] {
		font-size: 40px;
	}

	h6 {
		font-size: 40px;
	}

	/* List Share */

	.sideBySide-section {
		display: flex;
		flex-direction: row;
		height: 50vh;
		width: 100%;
	}
	.sideBySide-section > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		padding: 50px;
		border: 1px solid black;
	}
}

.sideBySide-loggedOut {
	display: flex;
	flex-direction: row;
	height: 90vh;
	width: 100%;
}

.sideBySide-loggedOut > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 50px;
	border: 1px solid black;
}
